.loader-cont {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0,0.8);
}

.layout {
	color: var(--txt-color);
}

.card {
	border-radius: 15px;
	box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.1) !important;
	border: none;
}

.card::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

.card__body {
	border-radius: 15px;
	box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.1) !important;
	border: none;
	padding: 10px;
	margin: 10px;
	max-height: 80vh;
	overflow: scroll;
}

.layout__content {
	background-color: var(--second-bg);
	min-height: 100vh;
}

.layout__content-main {
	padding: 30px;
	padding-top: 70px;
	position: relative;
}

.page-header {
	font-weight: 700;
	font-family: "Rubik";
}

.accept-button {
	outline: none;
	border: none;
	background: linear-gradient(135deg, #98ec2d 0%, #17ad37 100%);
	border-radius: 8px;
	color: white;
	width: 9%;
	height: 100%;
	font-size: 18px;
	font-family: "Rubik";
	margin: 7px 5px 0;
	padding: 5px 10px;
}

.order-uaddress {
	font-family: "Nunito";
	font-weight: 700;
	font-size: 16px;
}

.order-reputation {
	font-family: "Nunito";
	font-weight: 700;
	font-size: 16px;
}

.order-name {
	font-family: "Nunito";
	font-weight: 700;
	font-size: 16px;
}

.header-flex {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 768px) {
	.sidecontrem {
		display: none;
	}
}
